# forward delete key
"\e[3~": delete-char

# up & down arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward
"\ep": history-search-backward
"\en": history-search-forward



# op[esc-h] will show the last command that began with op
"\eh": dynamic-complete-history


# enable case-insensitive TAB-completion (for file names)
set completion-ignore-case on

# enable one-tab completion
set show-all-if-ambiguous on 
  

# add the missing slash when tab-completing symbolic links to directories
set mark-symlinked-directories on

set visible-stats on

